{% extends './layuot.html' %}

{% block main %}
    <main class="text-center align-middle position-relative">
        <form class="form" action="/ingresar_cliente" method="POST">

            <div class="mb-3 col-6 text-start">
                <label class="form-label">Id</label>
                <input type="text" class="form-control" name="id" value="{{dato.0}}">
              </div>

            <div class="mb-3 col-6 text-start">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" value="{{dato.1}}">
              </div>

              <div class="mb-3 col-6 text-start">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" name="apellido" value="{{dato.2}}">
              </div>

              <div class="mb-3 col-6 text-start">
                <label class="form-label">Raza</label>
                <input type="text" class="form-control" name="raza" value="{{dato.3}}">
              </div>

              <div class="mb-3 col-6 text-start">
                <label class="form-label">Color</label>
                <input type="text" class="form-control" name="color" value="{{dato.4}}">
              </div>

              <div class="mb-3 col-6 text-start">
                <label class="form-label">Alergico</label>
                <div class="input-group mb-3">
                    <select class="form-select" name="alergico" id="inputGroupSelect01" value="{{dato.5}}">
                      <option selected>Seleccionar</option>
                      <option value="Si">1- Si</option>
                      <option value="No">2- No</option>
                    </select>
                  </div>
              </div>

              <div class="mb-3 col-6 text-start">
                <label class="form-label">Observaciones</label>
                <input type="text-area" class="form-control" name="observaciones" value="{{dato.6}}">
              </div>

              <div class="mb-3 col-6">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <button type="submit" class="btn btn-primary">Cancelar</button>
              </div>
        </form>
    </main>




{% endblock %}