{% extends './layuot.html' %}

{% block main %}
    <main class="text-center align-middle position-relative">
        <a
            name=""
            id=""
            class="btn btn-primary fs-2 mt-5 col-6"
            href="/ingresar_cliente"
            role="button"
            >Ingresar Cliente
        </a>

        <a
            name=""
            id=""
            class="btn btn-primary fs-2 mt-5 col-6"
            href="/ver_datos"
            role="button"
            >Ver Datos
        </a>
    </main>




{% endblock %}